body {
  font-family: 'Source Sans 3', sans-serif;
  
  background-color: #f7f7f7;
}
*{
  font-family: "Source Sans 3", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  
  padding: 0px 20px;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap;
  justify-content: space-between; */
padding:25px;
}

.container-forma {
  flex-grow: 0;
  min-width: 290px;
  height: min-content;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-add h2 {
  
  text-align: start;
  height: 12px;
  
  flex-wrap: wrap;

  flex-basis: 60%;
  margin-bottom: 0px;
  font-size: 28px;
  color: #3f3f3f;
}

#filter-button {
  width: 121px;
  height: 36px;
  margin-top: 30px;
  padding-top: 8px;
  font-size: 12px;
  
  vertical-align: middle;
  overflow: auto;
  
  border: 1px solid #ccc;
  color: #a6a6a6;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}
.arrow{
  display: block;
  font-size: 12px; /* Размер стрелки */
  color: #ff0000; /* Цвет стрелки */
}


.forma {
  margin-bottom: 25px;
}

label {
  font-size: 10px;
  margin-bottom: 5px;
  display: block;
}

.required {
    color: red; /* Цвет звездочки */
    margin-left: 5px; /* Отступ слева от текста */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px #b4b4b4;
}


.submit {
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  color: #b4b4b4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-sucess {
  background-color: #45a049;
  
}

.delete-button {
  position: absolute;
  display: none;
  top: -10px;
  right: -10px;
  z-index: 100;
  background-color: #ff8484;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 35%;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.item:hover .delete-button {
  display: block;
}

.delete-button i {
  pointer-events: none;
}

.delete-button:hover {
  background-color: #e53935;
}

.invalid {
  border-color: red;
}
#error {
  color: red;
  font-size: 10px;
}

.item-description {
  padding: 8px;
  margin-bottom: 10px;
  margin-inline: 12px;
  font-size: 15px;
}

.item {
  background-color: #ffffff;
  min-width: 332px;
  min-height: 423px;
  margin-bottom: 20px;
  margin-right: 20px;
  
 
  flex-direction: row;
  /* overflow: hidden; */
  flex-wrap: nowrap;
  flex: 1 1 (33.333% - 20px)px;
  margin: 10px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.item-box {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  
  /* flex-wrap: wrap;
  align-content: flex-start; */
  height: 100%;
  width: 50%;
}


img {
  max-width: 100%;
  
}

.price {
  font-size: 24px;
  font-weight:bold;
  color: #333;
  margin-top: 10px;
}
